.header {
  padding: 1rem 0 3rem;
}

.link {
  color: #999;
}

.logo {
  color: black;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #999;
  font-size: .9rem;
  margin-right: 1.3rem;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

.active-nav-item {
  color: black;
}